<div class="main-content">
  <div class="investing">
    <div class="money">
      $8,912 <fa-icon class="icon" [icon]="faArrowTrendUp"></fa-icon>
    </div>
    <div class="return">
      <ul class="buttons">
        <li class="button clicked">Day</li>
        <li class="button">Week</li>
        <li class="button">Month</li>
        <li class="button">Year</li>
        <li class="button">All</li>
      </ul>
    </div>
  </div>
  <div class="graph">
    <h1>Graph here</h1>
    <div class="graph-container"></div>
  </div>
  <div class="value">
    <div class="portfolio-value">
      <h3>Portfolio Value</h3>
      <h2>$24,516</h2>
      <div>
        <fa-icon class="icon arrow" [icon]="faAngleDoubleUp"></fa-icon>
        <span>$367</span>
      </div>
    </div>
    <div class="yield-cost-ratio">
      <h3>Yield Cost Ratio</h3>
      <h2>4.36%</h2>
    </div>
    <div class="annual-dividends">
      <h3>Total Annual Dividends</h3>
      <h2>$1,117</h2>
    </div>
    <div class="urealized-gains">
      <h3>Unrealized Gains</h3>
      <h2>$367</h2>
    </div>
  </div>
</div>
